<h2 class="ui center aligned header">Welcome to MessageMe - <i>a complete Chat App</i></h2>
<h4 class="ui center aligned icon header">
  <i class="circular power off icon red"></i>
  Log in to continue
</h4>
<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <%= form_with(model: @user, url: login_path, class: "ui form") do |form| %>
        <div class="field">
          <%= form.label :username, "Username" %>
          <div class="ui left icon input">
            <%= form.text_field :username %>
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <%= form.label :password, "Password" %>
          <div class="ui left icon input">
            <%= form.password_field :password %>
            <i class="user icon"></i>
          </div>
        </div>
        <%= form.submit "Log in", class: "ui red submit button" %>
      <% end %>
    </div>
    <div class="middle aligned column">
      <div class="ui big button red">
        <i class="signup icon"></i>
        Sign Up
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>